/* ＊注意：
・id→#〇〇
・class→. △△
・複数の指定「,」→　p, #〇〇, .△△ {} */

/* div要素：id名「top」
・横幅:800px
・背景色:「 #dcc9f4 」
・上下に20pxの余白（画面の中央に配置）
・中にあるp要素：中央揃え */
#top {
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}


/* p要素：class名「top-child」
・横幅：親要素の20%
・背景色：「 #ffd9df 」
・3つのp要素：横並び */
.top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
}

/* div要素：id名「middle」
・横幅：800px
・高さ：800px
・上下：20pxの余白（画面の中央に配置）
（id名topのdiv要素とmarginの相殺が起こりますが、一番上の図形と一番下の図形との上下間隔が20pxになるようにする）。
・背景色：「 #ffd9df 」 */
#middle {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 20px auto;
    background-color: #ffd9df;
}

/* div要素（共通の装飾）
id名「middle-child01」
　　「middle-child02」
　　「middle-child03」
・横幅：200px
・高さ：200px
・背景色：「#87ceeb」 */
#middle-child01, #middle-child02, #middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}

/* 「middle-child01」：親要素の「middle」の上から100px、左から100px
   「middle-child02」：親要素の「middle」の上から300px、左から300px
   「middle-child03」：親要素の「middle」の上から500px、左から500px */
#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;
}

/* div要素：id名「bottom」
・横幅：800px
・高さ：300px
・配置：画面の中央
・背景色：「 #87ceeb 」 */
#bottom {
    width: 800px;
    height: 300px;
    margin: auto;
    background-color: #87ceeb;
}

/* div要素（共通の装飾）
id名「bottom-child01」
　　「bottom-child02」
　　「bottom-child03」
・横幅：400px
・高さ：100px
・背景色：「 #e5dcf0 」 */
#bottom-child01, #bottom-child02, #bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}

/* 「bottom-child02」：本来の表示場所の左から200px
   「bottom-child03」：本来の表示場所の左から400px */
#bottom-child02 {
    position: relative;
    left: 200px;
}

#bottom-child03 {
    position: relative;
    left: 400px;
}